<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.dssp.animationstuff"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".anm.ListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".anm.animationactivities.NoAnimationActivity"
            android:label="@string/app_name"/>

        <activity
            android:name=".anm.animationactivities.LaunchRocketValueAnimatorAnimationActivity"
            android:label="@string/app_name"/>

        <activity
            android:name=".anm.animationactivities.RotateRocketAnimationActivity"
            android:label="@string/app_name"/>

        <activity
            android:name=".anm.animationactivities.AccelerateRocketAnimationActivity"
            android:label="@string/app_name"/>

        <activity
            android:name=".anm.animationactivities.LaunchRocketObjectAnimatorAnimationActivity"
            android:label="@string/app_name"/>

        <activity
            android:name=".anm.animationactivities.ColorAnimationActivity"
            android:label="@string/app_name"/>

        <activity
            android:name=".anm.animationactivities.LaunchAndSpinAnimatorSetAnimatorActivity"
            android:label="@string/app_name"/>

        <activity
            android:name=".anm.animationactivities.LaunchAndSpinViewPropertyAnimatorAnimationActivity"
            android:label="@string/app_name"/>

        <activity
            android:name=".anm.animationactivities.FlyWithDogeAnimationActivity"
            android:label="@string/app_name"/>

        <activity
            android:name=".anm.animationactivities.WithListenerAnimationActivity"
            android:label="@string/app_name"/>

        <activity
            android:name=".anm.animationactivities.FlyThereAndBackAnimationActivity"
            android:label="@string/app_name"/>

        <activity
            android:name=".anm.animationactivities.XmlAnimationActivity"
            android:label="@string/app_name"/>

    </application>

</manifest>